{% assign images = site.gallery | where: "gallery", include.gallery | sort: "index" %}

{% if images.size > 0 %}
<div class="post-gallery">
  {% for image in images %}
    <figure class="post-gallery-item">
      <a href="{{ image.url | relative_url }}">
        <img src="{{ image.thumb_url | escape }}" alt="{{ image.title | escape }}" loading="lazy">
      </a>
      {% if image.title %}
        <figcaption>{{ image.title }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}
</div>
{% endif %}